.builderIntroduction{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.builder{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: ". details""toolbar page";
	grid-gap: var(--spacing-md);
	padding: var(--spacing-md);
	box-sizing: border-box;

	.details{
		grid-area: details;
		height: 80px;
		display: flex;
		align-items: center;
	}
	.toolbar{
		grid-area: toolbar;
	}
	.page{
		grid-area: page;
	}

	@media screen and (max-width: 768px) {
		grid-template-areas: "details details""toolbar page";
		padding: 0;
		grid-gap: var(--spacing-sm);

		.details{
			height: auto;
			display: block;
			border-bottom: 1px solid var(--colour-muted);
			padding-bottom: var(--spacing-sm);
		}
	}
}
