.pageEditor{
	height: 100%;
	display: grid;
	grid-template-columns: auto 1fr;

	.contextualPage{
		height: 100%;
		background-color: var(--colour-paper);
		padding: var(--spacing-sm);
		padding-left: var(--spacing-lg);
	}
}
