@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600&display=swap');

:root{
	--colour-black: #000;
	--colour-white: #fff;
	--colour-paper: #F2F1EF;
	--colour-basalt: #212121;
	--colour-chalk: #F7F7F7;
	--colour-muted: #9B9B9B;

	--colour-box-shadow: rgba(0,0,0,0.05);

	--spacing-xs: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 2rem;
	--spacing-xl: 4rem;

	--font-weight-extra-light: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-bold: 600;

	--border-radius-sm: 0.25rem;
	--border-radius-md: 0.5rem;
	--border-radius-lg: 1rem;
}

html{
	height: 100vh;            /* fall-back */
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;

	width: 100vw;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
}

body{
	height: 100vh;            /* fall-back */
	height: -moz-available;
	height: -webkit-fill-available;
	height: fill-available;

	width: 100vw;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;

	box-sizing: border-box;
	font-size: 20px;
	font-family: 'Source Serif Pro', serif;
	line-height: 1.5rem;
	background-color: var(--colour-chalk);
	color: var(--colour-basalt);

	@media screen and (max-width: 768px) {
		padding: var(--spacing-sm);
	}

	#root{
		height: 100%;
	}
}

h1{
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2.25rem;
	margin-bottom: var(--spacing-md);
}

h2{
	font-weight: var(--font-weight-bold);
	font-size: 1.2rem;
	line-height: 1.8rem;
	margin-bottom: var(--spacing-md);
}

p{
	margin-bottom: var(--spacing-md);
}

strong{
	font-weight: var(--font-weight-bold);
}
