.verticalPeeker{
	height: 100%;
	border: 1px solid var(--colour-muted);
	display: grid;
	grid-template-columns: 1fr 22px;
	grid-template-areas: "content puller";
	box-sizing: border-box;

	.puller{
		background-color: var(--colour-white);
		grid-area: puller;
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		box-shadow: 4px 0px 3px 2px var(--colour-box-shadow);

		.text{
			user-select: none;
			border-left: 1px solid var(--colour-muted);
			background-color: var(--colour-white);
			padding: 200px 5px;
			border-radius: var(--border-radius-lg);
			writing-mode: vertical-lr;
			text-orientation: sideways;
			transform: rotate(180deg);
			cursor: pointer;
			box-shadow: -4px 0px 3px 2px var(--colour-box-shadow);
		}
	}
	.content{
		grid-area: content;
		width: 0;
		transition: all 0.3s ease-out;
		overflow: hidden;
		background-color: var(--colour-white);
	}

	&.closed{
		.content{
			width: 0;
		}
	}

	&.open{
		.puller{
			.text{
				border-right: 0;
				border-bottom: 0;
				border-top: 0;
			}
		}
		.content{
			width: 300px;

		}
	}

	@media screen and (max-width: 768px) {
		.puller{
			.text{
				padding: 100px 5px;
			}
		}

		&.open{
			.content{
				max-width: 210px;
			}
		}
	}

}
