.name{
	max-width: 600px;
	width: auto;
	border-right: 1px solid var(--colour-muted);
	padding-right: var(--spacing-md);

	h2{
		margin: 0;
	}

	p{
		color: var(--colour-muted);
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		white-space: nowrap;
	}
}

.authorAndPages{
	padding-left: var(--spacing-md);

	p{
		margin: 0;
	}

	.pages{
		color: var(--colour-muted);
	}
}
